.wrapper {
    margin: 0 auto;
    width: 220px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: royalblue;
  }
  
  #input {
    text-align: center;
    padding-top: 10px;
  }
  
  input {
    border-radius: 5px;
  }
  
  ol li {
    color: white;
    font-weight: bold;
  }
  
  .fa-times {
    color: red;
  }
  
  .marked {
    text-decoration: line-through;
  }
  .total{
      color: white;
    font-weight: bold;
      text-align: center;
  }